body { background-color:pink;
background-image:url(../imagenes/cocinafondo.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;}
.sub{text-align: center;}
.menu {background-color:#000000 ;
display: inline-flex ;
padding: 15PX ;
}
.menu a{text-decoration: none;
color: #8D6F64;
padding: 0 10px;}
.menu a:hover{
  background-color: #4D352D
}

.pc a{text-decoration: none;
color:#4D352D;
background-color:#00000;
text-align: center;
}
.pc a:hover{}




.amarillo { background-color:violet;
padding: 20px;
margin: 40px}
.letra {font-size: 45px}
.color {color:purple }
img {width: 580px;
  height:270px

}
img {width: 110px;
height: 110px}

.titulos{text-align: center;}
.letra {text-align:center;}
.titulos {color: purple;}
.amarillo {text-align: center;}
.letra {color:purple}

  .whatsapp-flotante{position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 24px;
    color:#25D366;
    background-color: #FFF;
    padding:10PX;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;}

.contenedor{display: flex;
justify-content: center;

}
.contenedor a{font-size: 40px ;
}
.facebook{
color: blue
}
.whatsapp{color:#7DDA58}
.instagram{color:#E4080A}
.contenedor a:hover{color:#FFFFFF
}

header {display: flex; flex-wrap: wrap;
  justify-content: space-around;
   }

 .foto{display: flex;
 justify-content: flex-start;}

 .logo{display: flex;
 justify-content: flex-start;
border-radius: 30%}
.app {display: flex;
justify-content: flex-end;}


 .rr{width: 50% }
.rr{display: flex;
  flex-direction:row-reverse; }


 footer {display: flex; flex-wrap: wrap;
   justify-content: space-around;
    }
    .mapa{width: 300;
      height: 300}



a:link{color:#C503FD; }
a:visited {color: #796B66;}
a:active{color: black}

.enlaces a { text-decoration: none;
color:#4D352D;
background-color:#00000 }




nav{height: 15vh;

}
.menu{width: 100%;
background-color: black}

@media (max-width: 700px) {
  .cocina {display:none;

}}

@media   (min-width: 700px) {
  .tabla {display:none;

}}

@media   (min-width: 700px) {
  body {
    background-image: url(../imagenes/fondooscuro.jpg);

}}
function cambiarfondo() { document.body.style.backgroundColor = "black";


 }

function cartel() {alert("potrero digital")

}
