body { background-color:pink}
.amarillo { background-color:violet;}
.letra {font-size: 45px}
.color {color:purple }
img {width: 1250px;
  height:470px
}
.titulos{text-align: center;}
.letra {text-align:center;}
.titulos {color: purple;}
.amarillo {text-align: center;}
.letra {color:purple}
